<%= render partial: 'errors/errors', locals: {model: @bat} %>

<h1>Edit Bat</h1>

<%= form_with model: @bat do |f| %>

    <%= render "form", f: f %>

            <%= f.submit "Update Bat", class: "btn btn-info" %>
<% end %>