<h1> Welcome
    <% if logged_in? %>
        <%= current_researcher.name %>
    <% end %></h1>

<h2>Recorded Bats:</h2>

<%= link_to 'Recently Discovered Bats', recently_discovered_path %>
    <ol>
        <% @bats.each do |b| %>
            <li>
            <div class="link-info">
            <%= link_to b.tag_number, bat_path(b) %>
            </div>
            </li>
        <% end %>
    </ol>
