<h1> Welcome
    <% if logged_in? %>
        <%= current_researcher.name %>
    <% end %></h1>

<h2>Recorded Bats:</h2>
    <ol>
        <% @bats.each do |b| %>
            <li><%= link_to b.tag_number, bat_path(b) %></li>
        <% end %>
    </ol>