<h1> Welcome
    <% if logged_in? %>
        <%= current_researcher.name %>
    <% end %></h1><br>

<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <h2>Recorded Bats:
            </h2>
                <ol>
                    <% @bats.each do |b| %>
                        <li>
                        <%= link_to b.tag_number, bat_path(b), class: 'link-info' %></li>
                    <% end %>
                </ol>
        </div>
       
        <div class="col">
        </div>
        
        <div class="col">
            <%= link_to 'Recently Discovered Bats', recently_discovered_path, class: 'btn btn-info'%>
        </div>
    </div>
</div>
