<h1>Recently Discovered Bats:</h1>

<ol>
    <% @bats.each do |b| %>
        <% if b.date_found != nil %>
        <li><%= link_to b.tag_number, bat_path(b), class: "link-info" %>
            - Discovered on <%= b.date_found.to_s(:custom_datetime) %>
                by: <%= b.discoverer.name %> </li>
        <% end %>
    <% end %>
</ol>

<%= link_to 'Back', bats_path, class: "btn btn-info" %>